<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batchcodes</title>
</head>
<body>
    <table border= '2' cellspacing="10" cellpadding="10">
        <tr>
            <th>Batch</th>
            <th>Course</th>
            <th>Center</th>
            <th>Season</th>
            <th>Year</th>
            <th>Duration</th>
        </tr>
        
        {{#each batches as |b|}}
        <tr>
            <td>{{b.code}}</th>
            <td>{{b.courseId}}</th>
            <td>{{b.centerId}}</th>
            <td>{{b.seasonId}}</th>
            <td>{{b.year}}</th>
            <td>{{b.start}}
                <br>
                {{b.end}}
            </th>
        </tr>
        {{/each}}
    </table>
</body>
</html>